<div>
	<h1 class="home_header">Servicios</h1>
	<div id="img_service">
		<%= image_tag("diseno.png", :alt => "Usuarios") %>
		<%= image_tag("programacion.png", :alt => "Usuarios") %>
		<%= image_tag("juegos.png", :alt => "Usuarios") %>
	</div>
</div>