<div>
  <div id="home">
  </div>
  <div id="services" class="home_section">
    <%= render 'services' %>
  </div>
  <div id="about" class="home_section">
    <%= render 'about' %>
  </div>
  <div id="contact" class="home_section">
    <%= render :template => 'contact/new' %>
  </div>
  <div class="home_social">
    <%= render 'layouts/social' %>
  </div>
</div>