body {
  background-color: white;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 80%;
  margin-top: 45px;
  margin-left: 50px;
  @include box_sizing;
}

.img_brand{
  margin-top: 10px;
  padding: 5px 60px !important;
}

.justify_text{
  text-align : justify;
}

/* user image in nav bar */
.img_container{
  padding: 0 !important;
}

.img_background{
  background-color: transparent !important;
}

.img_caret{
  margin-top: 20% !important;
}

.img_profile{
  border:2px solid;
  border-radius:25px;
}


/* Footer */

.footer{
  margin-top: 3%;
}

.img_cont_footer{
  padding:0 17%;
  width: 70%;
}

.img_cont_footer>img{
  margin: 0 1%;
}