// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.wysihtml5-toolbar{
	position: relative;
	left: 8%;
}

.blog_content{
	width: 60% !important;
}

.post_content{
	margin: 0 auto;
	width: 80%;
}