@media screen {
  #home{
    height: 500px;
  }

  h1{
  	font-size: 40px;
  	text-align:center;
    color: #676767;
  }

  label{
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px){
  h1{
  	font-size: 36px;
  }

  label{
    font-size: 14px;
  }
}

@media screen and (max-width: 800px){
 #home{
  height: 150px;
 }

 h1{
  	font-size: 32px;
  }

  label{
    font-size: 12px;
  }
}

@media screen and (max-width: 500px){
  h1{
  	font-size: 28px;
  }
}