<div class="container footer">
  <p class="text-center white">@Todos los derechos reservados - Eximius Studio</p>
  <p class="text-center white">Emprendimiento hecho en Manizales - Con el apoyo de:</p>
  <div class="img_cont_footer">
	  <%= image_tag("appsmedellin.png", :alt => "Apps Medellin") %>
	  <%= image_tag("vive-digital.png", :alt => "Vive Digital") %>
	  <%= image_tag("mintic.png", :alt => "MinTIC") %>
	  <%= image_tag("tecnoparque.png", :alt => "Tecnoparque Manizales") %>
  </div>
</div>