<div style="padding:0 15%">
  <span style="margin-right:50px">
    <%= like_button(589164481117198, width: '450', 'show-faces' => 'true', href: 'https://www.facebook.com/EximiusStudio', :layout => 'button_count') %>
  </span>
  <span>
    <%= google_plus_button(annotation: 'bubble', href: 'http://www.extudio.co') %>
  </span>
  <span>
    <%= tweet_button(via: 'EximiusStudio', url: 'http://www.extudio.co', text: '#EximiusStudio', count: 'horizontal') %>
  </span>
</div>